langgraph
langchain
langchain-groq
langchain-community
langchain-tavily
psycopg[binary]
psycopg_pool
requests==2.34.2
ipykernel

fastapi
uvicorn[standard]
jinja2
python-multipart
python-dotenv
pydantic

langgraph
langgraph-checkpoint-sqlite

langchain-core
langchain-community
langchain-groq
langchain-mistralai
