langgraph
langchain
langchain-groq
langchain-ollama
langchain-google-genai
google-genai
langchain-community
langchain-tavily
psycopg[binary]
psycopg_pool
python-dotenv
tavily-python
requests==2.34.2
langgraph-checkpoint-postgres
fastapi
uvicorn
jinja2
ipykernel